:root {
  --accent: #f45397;
  --accent-fg: #fff;

  --accent-2: #ffdf60;
  --accent-3: #5f53f4;
  --accent-4: #28dffd;

  --foreground: #13151a;

  --curve-sm: 4px;
  --curve-md: 6px;
  --curve-lg: 12px;

  --danger: #ff0048;
  --success: #00ff64;

  --transparent-accent: #5f53f482;
}
