@use '../../styles/mixins' as *;

.service {
  display: flex;
  flex-direction: column;
  padding: var(--space-md);
  border: var(--border-heavy);
  box-shadow: var(--shadow-lg);
  background: var(--accent-fg);
  border-radius: var(--curve-sm);
  position: relative;
  overflow: hidden;

  .service-head {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    h4 {
      margin: 0;
      font-size: var(--text-lg);
      color: var(--foreground);
      text-decoration: none;
      @include underline-hover(var(--accent-3), 3px, 100%, 0.2s);
    }
    p {
      margin: 0;
      font-size: var(--text-base);
      opacity: var(--opacity-soft);
    }
    a {
      text-decoration: none;
    }
  }

  .save-listing {
    position: absolute;
    top: var(--space-sm);
    right: var(--space-sm);
  }

  .service-body {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    img {
      border-radius: var(--curve-sm);
      font-size: 0.6rem;
      color: var(--accent);
    }
    :global(p) {
      @include line-clamp(3);
      margin: var(--space-sm) 0;
      width: calc(100% - 2rem);
    }
  }

  .service-links {
    display: flex;
    gap: var(--space-sm);
    justify-content: space-between;
    a {
      color: var(--accent-3);
      font-size: var(--text-sm);
      display: inline-flex;
      align-items: center;
      gap: var(--space-xs);
      opacity: var(--opacity-subtle);
      text-decoration: none;
      max-width: 50%;
      min-width: 25%;
      &:not(:last-child) {
        margin-right: var(--space-sm);
      }
      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
      :global(svg) {
        width: 1rem;
        height: 1rem;
      }
      span {
        max-width: calc(100% - 1rem);
        @include truncate;
      }
    }
  }
}
