---
import Layout from '@layouts/Layout.astro';
import SavedServices from '@components/things/SavedServices.svelte';
import GetSharableLink from '@components/things/GetSharableLink.svelte';

import { fetchData } from '@utils/fetch-data';
import Button from '@components/form/Button.astro';
import EditableTitle from '@components/form/EditableTitle.svelte';
import type { Category } from '../../types/Service';

const categories = (await fetchData())?.categories || ([] as Category[]);
---

<Layout title="Saved Services">
	<main>
		<div class="top-row">
			<!-- <h2>Inventory</h2> -->
			<EditableTitle client:load />
			<GetSharableLink client:load />
		</div>
		<SavedServices allData={categories} client:load />
		<div class="buttons">
			<p>Not found what you're looking for?</p>
			<Button url="/all">Browse Services</Button>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: 0 auto var(--space-lg) auto;
		padding: var(--space-md);
		width: var(--width-container);
		max-width: var(--width-container-max);
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		min-height: calc(100vh - 12rem);
		font-size: var(--text-md);
		.top-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: var(--space-md);
		}
		h2 {
			font-family: var(--font-subtitle);
			font-weight: bold;
			font-size: var(--text-4xl);
			margin: 0;
			color: var(--accent-3);
		}
		.buttons {
			margin: var(--space-md) auto;
			display: flex;
			flex-direction: column;
		}
	}
</style>
