---

import NavBar from '@components/scafold/NavBar.astro';
import Footer from '@components/scafold/Footer.astro';

interface Props {
	title: string;
	hideNav?: boolean;
}

const { title, hideNav } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		{!hideNav && <NavBar /> }
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	@import '../styles/values.css';
	@import '../styles/typography.css';
	</style>
	

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		background: var(--background);
		background-size: 224px;
		::selection {
			background: var(--accent);
			color: var(--accent-fg);
		}
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		min-height: 100vh;
		background: #feecff;
		background: -webkit-radial-gradient(circle, #feecff 0%, #e1e4fb 100%);
		background: radial-gradient(circle, #feecff 0%, #e1e4fb 100%);
	}
</style>
