<main>
	<slot />
</main>

<style lang="scss">
	main {
		margin: var(--space-lg) auto;
		padding: var(--space-md);
		width: var(--width-container);
		max-width: var(--width-container-max);
		border: var(--border-heavy);
		box-shadow: var(--shadow-lg);
		background: var(--accent-fg);
		position: relative;
	}
</style>
