---

import Layout from '@layouts/Layout.astro';
import SectionList from '@components/things/SectionList.astro';
import Main from '@components/scafold/MainCard.astro';

import { fetchData, slugify } from '@utils/fetch-data';

import type { Section } from '../types/Service';

interface Props {
	title: string;
	sections: Section[];
}

const { title, sections } = Astro.props;

export async function getStaticPaths() {

	const pages = await fetchData().then((data) => {
		return data.categories.map((category) => {
			return {
				category: slugify(category.name),
				title: category.name,
				sections: category.sections,
			};
		});
	});

  return pages.map(({ category, title, sections }) => {
    return {
      params: { category },
      props: { title, sections },
    };
  });
}

---

<Layout title="Awesome Privacy">
	<Main>
		<SectionList title={title} sections={sections} bigTitle={true} />
	</Main>
</Layout>

<style lang="scss">

</style>
