---

import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import Hero from '@components/Hero.astro';
import Search from '@components/Search.astro';
import SectionList from '@components/things/SectionList.astro';

import { fetchData } from '@utils/fetch-data';
import Button from '@components/form/Button.astro';

const categories = (await fetchData()).categories;

---

<Layout title="Awesome Privacy" hideNav={true}>
	<Hero />
	<main>
		<h2>Search</h2>
		<Search />
		<h2 class="browse-title">Browse</h2>
		<ul class="categories">
		{categories.map((category) => (
			<li class="category">
				<SectionList title={category.name} sections={category.sections} />
			</li>
		))}
		</ul>
		<div class="view-all">
			<Button url="/all" text="View All" />
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1rem;
		width: 1100px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
		.view-all {
			width: 8rem;
			margin: 0 auto;
		}
	}
	h2 {
		font-size: 2.5rem;
		color: var(--accent-3);
		font-family: "Lekton", sans-serif;
		text-align: center;
	}

	.categories {
		columns: 6 300px;
		column-gap: 1rem;
		.category {
			background: var(--accent-fg);
			border: 2px solid var(--foreground);
			border-radius: var(--curve-sm);
			box-shadow: 4px 4px 0 var(--foreground);
			padding: 1rem;
			width: 85%;
			display: inline-flex;
			flex-direction: column;
			margin: 1rem;
			.category-title {
				text-decoration: none;
				color: var(--foreground);
			}
			h3 {
				font-family: "Lekton", sans-serif;
				font-weight: bold;
				margin: 0;
				font-size: 1.8rem;
			}
			.sections {
				padding-left: 1rem;
				.section {
					a {
						text-decoration: none;
						color: var(--foreground);
					}
					.service-count {
						color: var(--accent-3);
					}
				}
			}
		}
	}


</style>
