---
import Layout from '@layouts/Layout.astro';
import { fetchData } from '@utils/fetch-data';

import Search from '@components/things/Search.svelte';

const categories = (await fetchData())?.categories;
---

<Layout title="Search | Awesome Privacy">
	<section>
		<h1>Search</h1>
		<Search client:visible data={categories} />
		<p class="sitemap-link">
			Browse <a href="/all">all listings</a>, or see all pages in the <a
				href="/sitemap">Sitemap</a
			>
		</p>
	</section>
</Layout>

<style lang="scss">
	section {
		display: flex;
		flex-direction: column;
		box-shadow: var(--shadow-md);
		background: var(--accent-fg);
		border: var(--border-heavy);
		border-radius: var(--curve-sm);
		margin: var(--space-lg) auto;
		padding: var(--space-md);
		width: var(--width-container-max);
		max-width: var(--width-container);
		min-height: 80vh;

		h1 {
			font-size: var(--text-4xl);
			color: var(--accent-3);
			font-family: var(--font-subtitle);
			text-align: center;
			margin: var(--space-md) 0;
		}
		.sitemap-link {
			opacity: var(--opacity-muted);
			text-align: center;
			font-size: var(--text-sm);
			margin: var(--space-lg) auto;
			transition: var(--transition-normal);
			&:hover {
				opacity: var(--opacity-subtle);
			}
		}
	}
</style>
