---
import FontAwesome from '@components/form/FontAwesome.svelte';
---

<div class="hero">
	<h1>Awesome Privacy</h1>
	<p class="intro">
		Your guide to finding and comparing privacy-respecting alternatives to
		popular software and services.
	</p>
	<div class="github-link-wrap">
		<a
			href="https://github.com/lissy93/awesome-privacy"
			target="_blank"
			rel="noopener noreferrer"
		>
			<FontAwesome iconName="github" />
			View on GitHub
		</a>
	</div>
</div>

<style lang="scss">
	.hero {
		color: var(--accent-fg);
		border-radius: var(--curve-sm);
		padding: var(--space-lg) var(--space-2xl);
		display: flex;
		flex-direction: column;
		gap: var(--space-lg);
		@media (max-width: 768px) {
			padding: var(--space-lg) var(--space-md);
		}
	}
	svg {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		opacity: var(--opacity-muted);
		display: none;
	}
	h1 {
		margin: 0;
		font-size: var(--text-5xl);
		font-weight: 700;
		line-height: 1;
		text-align: center;
		font-family: var(--font-heading);
		color: var(--accent-3);
		-webkit-text-fill-color: var(--accent-3);
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: var(--box-outline);
		text-shadow: 3px 3px 0 var(--box-outline);
		@media (max-width: 768px) {
			font-size: 4rem;
		}
	}
	.intro {
		text-align: center;
		font-size: var(--text-xl);
		padding: var(--space-sm) var(--space-md);
		color: var(--accent-fg);
		background: var(--accent-3);
		border: var(--border-heavy);
		border-radius: var(--curve-sm);
		box-shadow: var(--shadow-lg);
		font-family: var(--font-subtitle);
		font-weight: 700;
		max-width: 735px;
		margin: 0 auto;
	}
	.github-link-wrap {
		font-family: var(--font-subtitle);
		max-width: 735px;
		text-align: center;
		margin: 0 auto;
		border: var(--border-light);
		box-shadow: var(--shadow-sm);
		background: var(--accent);
		border-radius: var(--curve-pill);
		padding: var(--space-sm) var(--space-md);
		a {
			text-decoration: none;
			color: var(--accent-fg);
			font-size: var(--text-md);
			font-weight: bold;
			display: flex;
			align-items: center;
			:global(svg) {
				width: 1.5rem;
				height: 1.5rem;
				color: var(--accent-fg);
				margin-right: var(--space-sm);
			}
		}
	}
</style>
