

<div class="hero">
  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 260">
    <g transform="translate(0,260) scale(0.1,-0.1)"
      fill="var(--accent-fg)" stroke="none">
      <path d="M1380 2464 c-543 -69 -956 -465 -1036 -994 -43 -288 25 -581 192
      -830 25 -37 56 -78 71 -91 l25 -24 -7 25 c-4 14 -11 27 -15 30 -11 9 -89 127
      -120 184 -54 97 -107 262 -126 386 -10 70 -7 272 6 337 48 240 145 434 302
      599 372 391 974 471 1423 189 204 -128 341 -282 442 -495 71 -149 102 -291
      104 -470 1 -148 -11 -227 -60 -390 -13 -43 -85 -184 -134 -264 -61 -99 -38
      -100 27 -1 158 237 224 534 182 815 -73 481 -430 864 -906 971 -83 19 -298 32
      -370 23z"/>
      <path d="M1675 2215 c-33 -7 -126 -17 -208 -22 -124 -8 -151 -12 -175 -30 -15
      -11 -74 -101 -130 -199 -86 -148 -103 -173 -100 -141 2 20 3 37 3 37 -16 0
      -161 -58 -223 -89 -142 -71 -204 -155 -172 -231 23 -56 124 -135 216 -170 46
      -18 9 25 -55 64 -180 110 -172 205 25 305 119 59 174 75 189 51 11 -17 34 -11
      58 15 12 14 60 92 107 173 56 97 94 151 110 159 14 6 95 17 180 22 85 6 173
      16 195 21 58 14 132 12 163 -4 42 -21 59 -46 72 -101 27 -113 51 -183 68 -198
      10 -9 71 -30 136 -46 204 -52 296 -107 296 -180 0 -30 -8 -43 -58 -91 -32 -30
      -97 -77 -144 -103 -47 -26 -96 -59 -109 -73 l-24 -26 53 20 c119 46 274 158
      308 224 36 70 3 134 -102 190 -66 35 -270 98 -320 98 -19 0 -25 13 -48 113
      -36 149 -48 171 -109 202 -57 28 -107 31 -202 10z"/>
      <path d="M588 1283 c32 -43 114 -153 181 -246 l122 -167 -57 -63 c-65 -72
      -107 -133 -157 -234 l-37 -72 67 -61 c170 -156 392 -261 623 -296 288 -43 579
      24 832 193 91 60 228 190 228 215 0 50 -107 279 -165 352 -15 19 -16 19 -75
      -9 -91 -43 -79 -54 31 -29 24 5 30 0 63 -54 37 -62 87 -174 100 -226 7 -27 1
      -35 -66 -101 -415 -406 -1108 -415 -1535 -22 -25 23 -43 48 -43 61 0 34 75
      162 139 236 81 93 85 103 66 139 -8 17 -76 113 -150 214 -74 102 -135 189
      -135 195 0 6 49 11 123 14 67 2 128 7 135 11 31 20 -11 27 -174 27 l-175 0 59
      -77z"/>
      <path d="M2125 1351 c-11 -18 21 -26 128 -29 59 -3 107 -8 107 -12 0 -5 -46
      -70 -102 -147 -178 -242 -209 -293 -180 -293 5 0 68 82 142 183 74 100 155
      210 182 245 l48 62 -159 0 c-88 0 -162 -4 -166 -9z"/>
      <path d="M967 1323 c-23 -26 -22 -46 9 -107 63 -126 163 -172 286 -130 l46 15
      47 -33 c43 -31 53 -33 140 -36 75 -3 101 0 136 15 59 27 106 68 129 114 25 48
      25 81 1 103 -16 15 -34 16 -142 10 -142 -8 -318 7 -460 37 -152 33 -171 34
      -192 12z m309 -68 c127 -18 313 -22 412 -11 59 8 62 7 62 -14 0 -47 -53 -111
      -118 -144 -45 -23 -147 -31 -201 -16 -26 7 -59 26 -78 45 l-34 34 -42 -19
      c-50 -23 -137 -26 -175 -6 -40 21 -78 65 -101 116 -35 78 -34 79 69 53 50 -12
      143 -30 206 -38z"/>
  </g>
  </svg>
  <h1>Awesome Privacy</h1>
  <p class="intro">
    Your guide to finding privacy-respecting alternatives to popular software and services.
  </p>
  <div class="github-link-wrap">
    <a href="https://github.com/lissy93/awesome-privacy">View or Edit on GitHub</a>
  </div>
</div>


<style lang="scss">

	.hero {
    color: var(--accent-fg);
    border-radius: var(--curve-sm);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
	}
	svg {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		opacity: 0.6;
    display: none;
	}
	h1 {
    margin: 0;
		font-size: 5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    color: var(--accent-3);
    -webkit-text-fill-color: var(--accent-3);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--foreground);
    text-shadow: 3px 3px 0 var(--foreground);
	}
  .intro {
    text-align: center;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    color: var(--accent-fg);
    background: var(--accent-3);
    border: 2px solid var(--foreground);
    border-radius: var(--curve-sm);
    box-shadow: 6px 6px 0 var(--foreground);
    font-family: "Lekton", sans-serif;
    font-weight: 700;
    max-width: 735px;
    margin: 0 auto;
  }
  .github-link-wrap {
    font-family: "Lekton", sans-serif;
    max-width: 735px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid var(--foreground);
    box-shadow: 3px 3px 0 var(--foreground);
    background: var(--accent);
    border-radius: 18px;
    padding: 0.5rem 1rem;
    a {
      text-decoration: none;
      color: var(--accent-fg);;
      font-size: 1.2rem;
      font-family: "Lekton", sans-serif;
      font-weight: bold;
    }
  }
	
</style>
