---
---

<div class="search-wrap">
  <label>What are you looking for?</label>
  <div class="input-wrap">
  <input class="search-input" type="text" placeholder="E.g. Password manager, browser, firewall" />
  <button>🔎</button>
  </div>

</div>

<style lang="scss">
.search-wrap {
  
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;

  label {
    color: var(--foreground);
  }

  .input-wrap {
    display: flex;
    // gap: 1rem;
  }

  button {
    padding: 0.2rem;
    font-size: 2rem;
    transform: translateX(-3rem);
    border-radius: 0 8px 8px 0;
    background: none;
    border: none;

    // background: var(--accent-fg);
    // color: var(--accent-3);
    // border: 2px solid var(--foreground);
    // box-shadow: 6px 6px 0 var(--foreground);
    // font-family: "Lekton", sans-serif;
    // transition: all 0.2s ease-in-out;
  }

  input {
    
    width: 100%;
    
    padding: 0.2rem;
    border-radius: 8px;

    background: var(--accent-fg);
    color: var(--accent-3);
    border: 2px solid var(--foreground);
    box-shadow: 6px 6px 0 var(--foreground);
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      border: 2px solid var(--accent-3);
      box-shadow: 6px 6px 0 var(--accent-3);
      color: var(--accent);
    }
  }
}
</style>
