# dependencies
node_modules/

# Install + buuld logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
dist/

# generated types
.astro/
.vercel/
# environment variables
.env
.env.production

# macOS crap
.DS_Store
